body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

header {
  color: #fff;
  background-color: #006400;
}

#chart {
  background: #0e3040;
  color: #67809f;
}

.line {
  fill: none;
  stroke: #006400;
  stroke-width: 2;
}


path {
  stroke: #006400;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}



.line {
  fill: none;
  stroke: #006400;
  stroke-width: 2px;
}

.circle {
  fill: white;
  stroke: #006400;
  stroke-width: 1px;
}

.area {
  fill: #006400;
  stroke: none;
  opacity: 0.1;
}

.zeroline {
  fill: none;
  stroke: red;
  stroke-width: 0.5px;
  stroke-dasharray: 5 5;
}

.zerolinetext {
  fill: red;
}

.overlay {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.focusLine {
  fill: none;
  stroke: #006400;
  stroke-width: 0.5px;
}

.focusCircle {
  fill: #006400;
}

.grid .tick {
  stroke: lightgrey;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}